body{
    margin: 0;
    padding:0;
}
header{
    color: white;
}
nav{
    
    background-color: #1c3041; 
}

div{
    background-color: #1c3041; 
    float: right
}

main{
    background-color: #1c3041;
    height:100%; 
    display: flex;
    flex-direction: row;
    
}

a,h1 {
    color: white;
  }

p{
    color: white;
    background-color: #284761;
}

tr,th,td{
    border: 1px solid black;
    text-align: center;
    color: white;
}

section {
    background-color: #284761;
    height: 700px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.noticia_principal{
    width: 95%;
    border: solid black;
    margin-left: 10px; 
}

.noticia{
    padding: 10px 10px 10px 100px;
}

.tabla_comparativa{
    height: 40%;
    width: 90%;
    border-style: solid;
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
}


aside{
    background-color:#284761;
    width: 50%;
    display:flex;
    flex-direction: column;
}

table{
    margin:10px 10px 10px 150px;
}

.tendencias{
    height: 30%;
    width: 80%;
    border: solid;
    margin: 50px 100px 15px 100px;
    

}
.video{
    border: solid;
    width:80%;
    margin: 0px 100px 50px 100px;
    
}

.blog{
    background-color: #284761;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.blog_fondo{
    background-color: #1c3041;
    height: 100%;
    width:100%;
}

footer{
    background-color: #1c3041;
    height: 50px; 
    width: 100%; 
    color:white;
    text-align: center;
}


